
.root {
    /* padding: 5%; */
  width: 40%;
  /* max-width: 40%; */
  margin: 10px;
  background-color: rgb(142, 151, 58);
  box-shadow: 12px 12px 25px 1px rgba(237, 245, 171, 0.5);
  border: solid 2px black;

}
.media {
  padding: 5%;
  max-width: 100%;
}

.content {
  color: white;



}